*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'SIMPLONNORM-BOLD';
    src: url('https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4197262ac6ffdf4a65a/1636492313895/SimplonNorm-Bold.otf');
}